
/* стили для основного слайдера ( главный блок) */
.main-slider .slide .slide-text {
  position: relative;
  z-index: 100;
}

.main-slider .slide {
   opacity: 0;
   transition: opacity 0.8s ease;
   position: absolute !important;
}  

.main-slider__active {
  opacity: 1 !important;
  transition: opacity 0.8s ease;

}
/* активный стиль для точек */
.slick-active {
  background-color: #ffd11a !important;
}

/* стили для popup */
/* .popup-scale0 {
  transform: scale(0);
  transition: all 0.4s ease;
}

.popup-scale01{
  transform: scale(1);
  transition: all 0.4s ease;
}  */

/* стили для галереи  */
.gallery-slider .slide {
  opacity: 0; 
  display: none; 
  transition: all .8s ease;
}

.gallery-slider__active {
  display: block !important;
  transition: all .8s ease
}

.gallery-slider__opacity {
  opacity: 1 !important;
  transition: all .8s ease;
}

/* стили для слайдера серсисы */
.services-slider {
  position: relative;
  overflow: hidden;
  padding-left: 12px !important;
}
/* .services-slider__wrapper {
  display: flex;
} */

.services-slider .slide {
  text-align: center;
  margin-right: 6px;
  margin-left: 6px;
  width: 210px;
}
.services-slider .slider-arrow{
  position: absolute;
}
.services-slider .slider-arrow.next {
  right: 0 !important;
}

.services-slider .slide {
  min-width: 210px;
  -webkit-transition: .2s linear;
  -moz-transition: .2s linear;
  -o-transition: .2s linear;
  transition: .2s linear;
 
}
.services-slider__active {
  display: block !important;
  
}

