.main-slider .slide {
   opacity: 0;
   transition: opacity 0.8s ease;
   position: absolute !important;
}  

.main-slider__active {
  opacity: 1 !important;
  transition: opacity 0.8s ease;

}

.slick-active {
  background-color: #ffd11a !important;
}

.popup-scale0 {
  transform: scale(0);
  transition: all 0.4s ease;
}

.popup-scale01{
  transform: scale(1);
  transition: all 0.4s ease;
} 
